.root{
	-fx-base: darkblue;
	-fx-background: lightblue;
}
.button {
	-fx-font-weight: bold;
	-fx-font-size: 15px;
}

.label {
        -fx-font-style: italic;
	-fx-font-size: 9px;
	-fx-text-fill: darkgreen;
}

.titulo {
        -fx-font-style: normal;
	-fx-font-weight: bolder;
	-fx-font-size: 30px;
	-fx-alignment: center;
}
